.container {
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  padding: 10px;
}

.contactInfo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contactLeft img {
  border-radius: 50%;
}

.contactRight {
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  padding-left: 10px;
}

.container:hover {
  animation: blink 1s ease-in-out infinite;
}

.controls {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 5px;
  justify-content: right;

  z-index: 10;
}

@keyframes blink {
  0% {
    border: 1px solid rgba(255, 255, 255, 0.25);
  }
  50% {
    border: 1px solid rgba(255, 255, 255, 0.7);
  }
  100% {
    border: 1px solid rgba(255, 255, 255, 0.25);
  }
}
