.section h2 {
  color: white;
  text-decoration: underline goldenrod;
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid goldenrod;
}

.section {
  min-width: 250px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow-y: hidden;
}
