@import-normalize; /* bring in normalize.css styles */

* {
  /* RESETING */
  margin: 0;
  padding: 0;

  /* RESETING TEXT DISPLAY */
  list-style: none;
  text-decoration: none;

  box-sizing: border-box;
}

body {
  background: linear-gradient(165deg, black, gray, white);
}
