@import-normalize; /* bring in normalize.css styles */

* {
  /* RESETING */
  margin: 0;
  padding: 0;

  /* RESETING TEXT DISPLAY */
  list-style: none;
  text-decoration: none;

  box-sizing: border-box;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: linear-gradient(165deg, black, rgb(62, 62, 62), rgb(44, 44, 44));
}
